<!DOCTYPE html>
<div>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Quadris - Responsive App Landing Page</title>

        <!-- CSS -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

  

    </head>

    <body>
		
		<!-- Top menu -->


        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                    	<div class="col-sm-5 phone">
                        	<img src="img/iphone-1.png" alt="">
                        </div>
                        <div class="col-sm-5 text">
                        	
                        
                        	
                            <h2>Welcome to HOA</h2>
                            <div class="description">
                            	We have been working very hard to design the new version of our app. 
                            	Finally it's ready. It comes with a lot of new features. Check it out!
                            </div>
                            <div class="top-button">
                            	<a class="button-1" href="#"> Sign Up Now!</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Features -->
        <div class="features-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 features">
	                    <h3>Main features</h3>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
	                    	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-eye"></i>
	                	</div>
	                    <h4>Easy To Use</h4>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
	                    	labore et.
	                    </p>
	                </div>
	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-table"></i>
	                	</div>
	                    <h4>Responsive Layout</h4>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
	                    	labore et.
	                    </p>
	                </div>
	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-pencil"></i>
	                	</div>
	                    <h4>Flat Design</h4>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
	                    	labore et.
	                    </p>
	                </div>
	            </div>
	        </div>
        </div>
        
        <!-- Single feature -->
        <div class="single-feature-container single-feature-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h3>Easy to use</h3>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
	                    	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12 single-feature-img">
	                    <img src="img/iphone-2.png" alt="">
	                </div>
	            </div>
	        </div>
        </div>
        
        <!-- Single feature -->
        <div class="single-feature-container single-feature-no-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h3>Responsive layout</h3>
	                    <p>
	                    	Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
	                    	aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12 single-feature-img">
	                    <img src="img/iphone-3.png" alt="">
	                </div>
	            </div>
	        </div>
        </div>
        
        <!-- Single feature -->
        <div class="single-feature-container single-feature-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h3>Flat design</h3>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
	                    	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12 single-feature-img">
	                    <img src="img/iphone-2.png" alt="">
	                </div>
	            </div>
	        </div>
        </div>
        
        <!-- Call to action -->
        <div class="call-to-action-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 call-to-action-text">
	                    <h3>Sign Up Now!</h3>
	                    <p>
	                    	Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
	                    	aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exercitation.
	                    </p>
	                    <div class="call-to-action-button">
                            <a class="button-2" href="#"></i> Sign Up Now!</a>
                        </div>
	                </div>
	            </div>
	        </div>
        </div>
        

        
    
        <!-- Footer -->
        <footer>
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-7 footer-copyright">
	                    <p>&copy; HOA<br>All rights reserved.</p>
	                </div>
	                <div class="col-sm-5 footer-social">
	                    <a class="ultm ultm-facebook ultm-48 ultm-square ultm-gray-to-color" href=""></a>
	                    <a class="ultm ultm-twitter ultm-48 ultm-square ultm-gray-to-color" href=""></a>
	                    <a class="ultm ultm-google-plus-1 ultm-48 ultm-square ultm-gray-to-color" href=""></a>
	                    <a class="ultm ultm-dribbble ultm-48 ultm-square ultm-gray-to-color" href=""></a>
	                    <a class="ultm ultm-pinterest ultm-48 ultm-square ultm-gray-to-color" href=""></a>
	                </div>
	            </div>
	        </div>
        </footer>
        

        <!-- Javascript -->
 
    </body>

</html>
</div>
